body {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
a {
  font-size: 14px;
  line-height: 16px;
  color: #777e91;
  transition: all 0.35s;
}
a:hover {
  color: #23262f;
}
.hide {
  display: none;
}
.container {
  max-width: 1117px;
  margin: 0 auto;
	padding: 0 15px;
}
.btn {
  background: none;
  border: 2px solid #e6e8ec;
  border-radius: 90px;
  line-height: 16px;
  padding: 12px 16px;
  transition: all 0.35s;
}
.btn:hover {
  background: #3772ff;
  border: 2px solid #3772ff;
  color: #fff;
}
.title {
  font-size: 40px;
  line-height: 48px;
}
.substr {
  color: #777e91;
}
.header {
  max-height: 100px;
  border-bottom: 1px solid #e6e8ec;
  margin-bottom: 128px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__static {
  display: flex;
  align-items: center;
}
.logo {
  padding-right: 32px;
}
/*тут можно как то по умному задать размер блока */
.static__links {
  border-left: 2px solid #e6e8ec;
  padding-left: 32px;
  height: 40px;
  width: 202px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__active {
  display: flex;
  align-items: center;
}
.search-box {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  border: 2px solid #e6e8ec;
  width: 256px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  border-radius: 8px;
}
.header__center__btn {
  margin: 0 28px 0 40px;
}
.greetings {
  text-align: center;
  margin-bottom: 136px;
}

.substr__upper {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 8px;
}
.greetings__inner h1 {
  margin-bottom: 24px;
}
.top__seller {
  margin-bottom: 136px;
}
.seller__slider__picture img {
  width: 600px;
  height: 800px;
  border-radius: 15px;
}
.seller__slider {
  position: relative;
}
.seller__slider__item__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.seller__slider__active {
  max-width: 352px;
}

.title__super__big {
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 20px;
}
.seller__info__block {
  font-family: "Poppins", sans-serif;
  display: flex;
}

.seller__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.info__text {
  margin: 0 36.5px 0 8px;
}
.substr__mini {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}
.title__mini {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}
.seller__slider__price {
  padding: 32px 0;
  border-radius: 24px;
  border: 2px solid #e6e8ec;
  box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;
}
.current__bid {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.price__bid {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}
.price__substr {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.promotion__timer {
  margin-top: 24px;
}
.auction {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}
.timer {
  display: flex;
  justify-content: center;
}
.timer__block {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
}
.number {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #141416;
}
.slider__btn {
  width: 100%;
  margin-bottom: 8px;
}
.slick-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 0;
  background: none;
  border-radius: 40px;
  z-index: 1000;
}
.slick-btn img {
  margin: 6px;
}
.slick-btn:hover {
  background: none;
  border: 2px solid #e6e8ec;
}
.slick-prev-top {
  top: 690px;
  left: 765px;
}
.slick-next-top {
  top: 690px;
  left: 815px;
}
.mini {
  padding: 128px 88px;
}

.sellers {
  background: #f4f5f6;
  height: 663px;
}
.substr__big {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.title__big {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
.sellers__inner {
  margin-bottom: 64px;
  position: relative;
}
.sellers__content__block {
  width: 198.4px;
  height: 247px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  background: #fcfcfd;
  border-radius: 16px;
  text-align: center;
}
.sellers__content__block:hover {
  height: 263px;
  box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.22);
  transition: all 0.5s;
}
.sellers__block__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid #e6e8ec;
  margin-bottom: 24px;
}
.sellers__block__middle {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.user__avatar {
  position: relative;
}
.user__avatar .photo {
  height: 64px;
  width: 64px;
  border-radius: 40px;
}
.user__icon {
  position: absolute;
  top: 40px;
  left: 40px;
}
.slick-next-bottom {
  top: 125px;
  left: 1115px;
}
.slick-prev-bottom {
  top: 125px;
  left: -60px;
}
.earn {
  margin-bottom: 80px;
}
.earn__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
}
.earn__info .substr__upper {
  font-size: 16px;
  line-height: 16px;
}
.subsubstr {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}
.earn__picture img {
  height: 540px;
  width: 600px;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  z-index: 2000;
}
.modal__inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__content {
  height: 450px;
  width: 450px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  border-radius: 20px;
  text-align: center;
}
.modal__content p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
}
.modal__exit {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-bottom: 22px;
}
.modal__exit__btn {
  width: 40px;
  height: 40px;
  padding: 0;
  background: none;
  border-radius: 20px;
  border: 2px solid #e6e8ec;
}
.modal__picture {
  margin-bottom: 32px;
}
.footer {
	border-top: 1px solid #e6e8ec;
	padding-top: 83px;
}
.footer__inner {

}
.up {
	display: flex;
	justify-content: space-between;
	margin-bottom: 48px;
}
.up__block {
	max-width: 352px;
	position: relative;
}
.footer__logo{
	position: absolute;
	top: -39px;
	left: 0;
}
.up__block .subsubstr{
font-family: 'Poppins';
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #23262F;
}
.up__block li{
font-family: 'DM Sans';
font-weight: 700;
font-size: 14px;
line-height: 16px;
color: #777E91;
margin-bottom: 24px;
}
.up__block p{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #23262F;
margin-bottom: 24px;
}
.economy {
	padding-top: 40px;
	padding-right: 40px;
font-family: 'Poppins';
font-weight: 400;
font-size: 24px;
line-height: 32px;
}
.up__block .search-box {
	width: 352px;
height: 48px;
	border-radius: 90px;
	padding: 3px;
}
.down {
	height: 85px;
	border-top: 1px solid #E6E8EC;
	position: relative
}
.down .substr{
	font-family: 'Poppins';
font-weight: 400;
font-size: 12px;
line-height: 20px;
color: #777E91;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%)
}
